<h1>
Flexible payment
</h1>
<h5>
  A <%= @number_years %> year loan of <%= number_to_currency(@pv) %>, with an annual interest rate of <%= @interest_rate %>%, requires a monthly payment of <%= number_to_currency(@monthly_payment) %>.
</h5>
