<h1>
Payment Results
</h1>
<div>
  <h5>
  <label> APR
  </label>
  <br>
   <%= number_to_percentage(@interest_rate, precision: 2) %>
 </h5>
 </div>
 <div>
<h5>
  <label> Number of years
  </label>
    <br>
    <%= @number_years %>
</h5>
</div>
<div>
<h5>
  <label> Principal
  </label>
  <br>
   <%= number_to_currency(@pv) %>
</h5>
</div>
</div>
<div>
<h5>
  <label> Payment
  </label>
  <br>
   <%= number_to_currency(@monthly_payment) %>
</h5>
</div>
<h5>
<a href="/payment/new">Calculate another payment</a>
</h5>
