<h1>
 Payment Calculation
</h1>
<form action="/payment/results">
<div>
  <label>
    APR
  </label>
    <input type="text" name="basis_points">
</div>
<div>
  <label>
    Number of years
  </label>
    <input type="text" name="number_of_years">
</div>
<div>
  <label>
    Principal
  </label>
    <input type="text" name="present_value">
</div>
  <div>
    <button>Calculate monthly payment</button>
  </div>
</form>
