<h1>
 Payment Calculation
</h1>
<form action="/payment/results">
<div>
  <label for= "apr">
    APR
  </label>
    <input id="apr" type="text" name="basis_points">
</div>
<div>
  <label for="num_years">
    Number of years
  </label>
    <input id="num_years" type="text" name="number_of_years">
</div>
<div>
  <label for="principal">
    Principal
  </label>
    <input id="principal" type="text" name="present_value">
</div>
  <div>
    <button>Calculate monthly payment</button>
  </div>
</form>
