<h1>
  Random Calculation
</h1>
<form action="/random/results">
  <div>
    <label>
      Minimum
    </label>
      <input type="text" name="min">
  </div>
  <div>
    <label>
      Maximum
    </label>
      <input type="text" name="max">
  </div>
  <div>
    <button>Pick a random number</button>
  </div>
</form>
