<h1>
  Random Calculation
</h1>
<form action="/random/results">
  <div>
    <label for="minimum">
      Minimum
    </label>
      <input id="minimum" type="text" name="min">
  </div>
  <div>
    <label for="maximum">
      Maximum
    </label>
      <input id="maximum" type="text" name="max">
  </div>
  <div>
    <button>Pick random number</button>
  </div>
</form>
