<h1>
  Square Calculation
</h1>
<form action="/square/results">

  <label for="number_entry">
    Enter a number
  </label>
    <input id="number_entry" type="text" name="user_num">

  <div>
    <button>Calculate square</button>
  </div>
</form>
