<h1>
  Square Root Calculation
</h1>
<form action="/square_root/results">

  <label for="calculate_sqrt">
    Enter a number
  </label>
    <input id="calculate_sqrt" type="text" name="user_num">

  <div>
    <button>Calculate square root</button>
  </div>
</form>
