<h1>
Square Results
</h1>
<div>
  <h5>
  <label> Number
  </label>
  <br>
   <%= @user_num %>
 </h5>
 </div>
 <div>
<h5>
  <label> Square
  </label>
  <br>
   <%= @num_squared %>
</h5>
</div>
<h5>
<a href="/square/new">Calculate another square</a>
</h5>
